<div class="d-block d-md-none">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;">
      <h3>{{userInfo.firstName}} {{userInfo.lastName}}</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto" style="color: white;">
        <li>
          <h6 (click)="logout()">Logout</h6>
        </li>
        <li>
          Online Users :
        </li>
        <li *ngFor="let user of userList">
          <div *ngIf="user.userId!=userInfo.userId" (click)="userSelectedToChat(user.userId,user.name)">
            <user-details [userFirstName]="user.name" [userLastName]="''" [userStatus]="'online'"
              [messageRead]="user.unread"></user-details>
            <br>
          </div>

        </li>
      </ul>
    </div>
  </nav>
</div>
<!--end of mobile navbar-->

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block d-md-4">
      <br>
      <h3 style="margin-left: 1em;">{{userInfo.firstName}} {{userInfo.lastName}}</h3>
      <br>
      <div>
        <button style="margin-left: 1em;" (click)="logout()" class="btn btn-primary" style="width: 100%;border-radius: 5%;">Logout</button>
      </div>
      <br>
      <h4 style="margin-left: 1em;">Online Users : </h4>
      <br>
      <ul>
        <div *ngFor="let user of userList"  [ngClass]="{'activeChat': user.chatting==true}" (click)="userSelectedToChat(user.userId,user.name)">
          <div *ngIf="user.userId!=userInfo.userId">
            <user-details [userFirstName]="user.name" [userLastName]="''" [userStatus]="'online'"
              [messageRead]="user.unread"></user-details>
          </div>
          <br>
          <hr>
        </div>
      </ul>
    </div>
    <div class="col-12 col-md-8">
      <br>
      <div *ngIf="receiverName">
        <first-char [name]="receiverName" [userBg]="'blue'" [userColor]="'white'" (notify)="showUserName($event)">
        </first-char> &nbsp; Chat with {{receiverName}}
      </div>
      <hr>
      
      <div #scrollMe [scrollTop]="(scrollToChatTop)?0:scrollMe.scrollHeight" data-spy="scroll" style="height: 70vh;overflow-y: scroll" *ngIf="receiverId!=userInfo.userId">
        <div  (click)="loadEarlierPageOfChat()" style="text-align: center;">Load Previous Chat</div>
        
        <div *ngIf="loadingPreviousChat==true"  style="text-align: center;">Loading...</div>
        <br>        
          <div *ngFor="let message of messageList">
            <div *ngIf ="message.senderId==userInfo.userId" class="float-right" style="margin-right: 5%;">
              <div>{{message?.createdOn|date}}&nbsp;&nbsp;{{message?.senderName}}</div>
              <div class="float-right">{{message?.message}}</div>
            </div>
            <div *ngIf ="message.senderId!=userInfo.userId" class="float-left">
                <div>{{message?.createdOn|date}}&nbsp;&nbsp;{{message?.senderName}}</div>
              {{message?.message}}
            </div>
            <br>
            <br>
            <hr>
          </div>        
      </div>
      <div *ngIf="receiverId==userInfo.userId" style="text-align: center;height: 72vh;">
        <h5>Select a user to chat with</h5>
      </div>
      <div>
        
          <input type="text"  style="width: 85%;" name="messageText" id="message-to-send" (keydown)="sendMessageUsingKeyPress($event)" [(ngModel)]="messageText"
            placeholder="Type your message" >
  
          <button (click)="sendMessage()"  style="width: 15%;">Send</button>
      </div>
    
      <br>
    </div>
  </div>
</div>