.activeChat {
  background: #e2e3e7;
  border-radius: 5%;
}

@media screen and (min-width : 768px){
  .box-height{
    height: 72vh;
  }
}

@media screen and (max-width : 768px){
  .box-height{
    height: 61vh;
  }
}

.me{
  background: #89a0f3;
 
 
 
}
.other{
  background: #8b8c8d;
 
 
  
  
}

 .message {
  
 /* padding: 0.5em 1.42em;*/
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.9em;
  font-size: 1em;
  border-radius: 7px;
  margin-bottom: 1.5em;
  width: 90%;
  position: relative;
}