
    <div class="container-fluid ">
            <div class="row">
                    <div class="col-sm-12 col-md-4 p-5" style="text-align: center;">
                <!--navbar-->
                <nav class="navbar  navbar-expand-md  navbar-inverse ">

                    <a class="navbar-brand" href="/">My Chat</a>

                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-expanded="true">

                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>

                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="nav navbar-nav" style="text-align :right">

                            <li class="m-5 p-5">

                                <a (click)="goToSignIn()">Sign-In</a>

                            </li>

                        </ul>

                    </div>

                </nav>
                <!--navbar ends-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 p-5" style="text-align: center;">
                <form>
                        <h2 class="form-signin-heading">Sign Up To Start Chat</h2>

                        <br>
                    <div class="form-group">
                        <label>FirstName</label>
                        <input type="text" placeholder="FirstName" class="form-control" name="firstName"
                            [(ngModel)]="firstName" required>
                    </div>
                    <div class="form-group">
                        <label>LastName</label>
                        <input type="text" placeholder="LastName" class="form-control" name="lastName"
                            [(ngModel)]="lastName" required>
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="number" placeholder="Mobile" class="form-control" name="mobile"
                            [(ngModel)]="mobile" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" placeholder="EmailId" class="form-control" name="email" [(ngModel)]="email"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" placeholder="password" class="form-control" name="password"
                            [(ngModel)]="password" required>
                    </div>
                    <div class="form-group">
                        <label>API Key</label>
                        <textarea type="password" placeholder="API Key" class="form-control" name="apiKey"
                            [(ngModel)]="apiKey" required></textarea>
                    </div>
                    <br>

                    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signupFunction()">Sign Up</button>
                
                  
                
                  <div class="col-sm"></div>
                </form>
            </div>
        </div>
    </div>
