<nav class="navbar  navbar-expand-md  navbar-inverse ">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-expanded="false">
            <span class="sr-only">Togglenavigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">My Chat</a>
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="nav navbar-nav" >

            <li class="nav-item" style="text-align: right;">

                <a (click)="goToSignup()">Signup</a>

            </li>

        </ul>

    </div>



</nav>
<!--navbar ends-->
<div class="container">
    <div class="row justify-content-center" style="align-content: center;align-items: center;">
        <div class="col-sm-12 col-md-6">
            

                
                    <h2 class="form-signin-heading" style="text-align: center;">Login To Start Chat</h2>

                    <br>
                    <div class="form-group">
                        <!--label>Email</label-->
                        <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="email"
                            required>
                    </div>
                    <div class="form-group">
                        <!--label>Password</label-->
                        <input type="password" placeholder="Password" class="form-control" name="password"
                            [(ngModel)]="password" required>
                    </div>
                    <br>

                    <button class="btn btn-lg btn-primary btn-block" type="button"
                        (click)="signinFunction()">Login</button>



                    <br>
                

            
        </div>
    </div>
</div>