<div class="d-block d-sm-none">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">My Chat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto" style="color: white;">
                <li>
                    <a (click)="goToSignup()">Signup</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="d-none d-sm-block">
    <div class="container">
        <div class="row mx-n5">
            <div class="col-lg-12">
                <div class="bg-dark clearfix p-2">
                    <a href="/" class="float-left" style="color: white;">My Chat</a>
                    <a class="float-right p-2" (click)="goToSignup()" style="color: white;">Signup</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6">
            <div style="text-align: center;">
                <h2>Login to start Chat</h2>
                <br>
            </div>
            <div>
                <input type="email" placeholder="Email" class="form-control" name="email" [(ngModel)]="email" required>
            </div>
            <br>
            <div>
                <input type="password" placeholder="Password" class="form-control" name="password"
                    [(ngModel)]="password" required>
            </div>
            <br>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signinFunction()">Login</button>
            </div>
        </div>
    </div>
</div>